<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>LoginForm!</title>
</head>
<body>
<div layout:fragment="mainContent">
    <h2>LoginForm!!</h2>

    <form th:action="@{/login}" method="post">
        <input type="text" name="username">user_name
        <br/>
        <input type="password" name="password">password

        <br/>

        <input type="submit" value="Login">
    </form>

</div>

</body>
</html>